.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url(./components/asserts/background3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.page-content {
  flex: 1;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}