.navbar {

    padding: 1rem 2rem;
    box-shadow: none;
    position: relative;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-logo {
    color: rgb(227, 100, 149);
    font-size: 50px;
    font-family: "Sacramento", cursive;
  }
  
  .navbar-tabs {
    display: flex;
    gap: 50px;
    
  }
  
  .navbar-tab {
    color: rgb(232, 67, 133);
    background: none;
    border: none;
    font-family: "Righteous", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;

  }
  .navbar-tab:hover {
    color: rgb(227, 100, 149);
    text-decoration: underline;
  }
  
  .mobile-menu-button {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
 
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .navbar-tabs {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: whitesmoke;
      flex-direction: column;
      gap: 0;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
      padding: 0 8px;
    }
  
    .navbar-tabs.active {
      max-height: 500px;
      padding: 1rem 2rem;
    }
  
    .navbar-tab {
      padding: 1rem 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .navbar-logo {
      font-size: 40px;
        margin-left: 1rem;
    }
    
    .mobile-menu-button {
      display: block;
      color: rgb(232, 67, 133);
    }
  
    .signup-tab {
      margin-top: 1rem;
    }
  }